@media (max-width: 767px) {
    body {
        background: url(../images/bg-mobile.svg) center center no-repeat;
        background-color: var(--dark-color);
        background-size: cover;
    }
    main {
        grid-template-columns: 1fr;
    }
    main .info h1 {
        text-align: center;
        font-size: 25px;
    }
    main .info p {
        text-align: center;
        font-size: 15px;
    }
    main .info .btn-register {
       margin-left: auto;
       margin-right: auto;
    }
    footer {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1440px){
    main .image{
        display: flex;
        justify-content: center;
    }
    
}